name: Python application

on:
  push:
   branches: [ main ]
  pull_request:
    branches: [ main ]
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build & Push Image
      run: |
        docker login -u "secrets.DOCKER_USER" -p "secrets.DOCKER_SECRET"
        docker image build -t mrsrikanthcool/gitops:sri-gitops .
        docker push mrsrikanthcool/gitops:tagname:sri-gitops
