name: Python application

on:
  push:
   branches: [ main ]
  pull_request:
    branches: [ main ]
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build & Push Docker image
      
     
      run: |
        docker login:
         with:
           username: ${{ secrets.DOCKER_USERNAME }}
           password: ${{ secrets.DOCKER_PASSWORD }}
      
        docker image build -t mrsrikanthcool/gitops:sri-gitapps .
        docker push mrsrikanthcool/gitops:tagname:sri-gitapps
